.page p, .page span, .page div {
    background-color: transparent !important; /* Убирает фон */
    color: black; /* Чёрный цвет текста */
    font-family: "Georgia", serif; /* Красивый шрифт (можно заменить) */
    font-size: 24px; /* Размер шрифта */
    text-align: justify; /* Выравнивание по ширине */
    line-height: 1.6; /* Увеличенный межстрочный интервал */
  }
body, .page p {
    font-family: "Playfair Display", serif;
    user-select: none;
    text-shadow: none;
  }
  body {
    font-family: 'Playfair Display', serif !important;
  }

  /* Общие стили для всех устройств */
.page {
    width: 100vw;  /* Полная ширина экрана */
    height: 100vh; /* Полная высота экрана */
    overflow: hidden;
  }
  
  /* Адаптация для мобильных устройств */
  @media (max-width: 768px) {
    .page {
      font-size: 18px; /* Уменьшаем размер текста */
      padding: 10px; /* Добавляем отступы */
    }

    .page {
        transition: transform 3m ease-in-out; /* Делаем анимацию плавной */
      }
  
    .book-container {
      width: 100%;
      height: 100%;
    }
  }